html {
	background: #222022;
	color: white;
}

body {
	background-color: inherit;
	color: inherit;
}

.inter {
	font-family: 'Inter', sans-serif;
}

.ss {
	font-family: 'Silkscreen', cursive;
}

.grey {
	color: #ccc;
}

img {
	max-height: 50vh;
	max-width: 100%;
}

.btn {
	border-radius: 5px;
	margin: 0px 4px;
}

.btn-light {
	border: none;
	background-color: #9092e7;
}

.accordion-item {
	background-color: transparent;
}

.accordion-button {
	color: #ffffff;
	background-color: #8989da;
	/*border-radius: 2px;*/
}

.accordion-button:focus {
	box-shadow: none;
}

.footer {
	width: 100%;
	padding: 6vh 0px;
	color: #fff8;
}

.channel {
	text-align: left;
	width: 100%;
	background-color: #c4c5f2;
	color: black;
	font-weight: bold;
	font-size: 18px;
	border-radius: 5px;
	margin-bottom: 12px;
	padding: 10px;
}

.circle {
	border-radius: 50%;
	margin-right: 10px;
}

body::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}